@import './base.css';

#app {
  margin: 1rem auto;
  padding: 2rem;

  font-weight: normal;
}
.background{
  background-color: (161,219,249,255);
}
a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}